@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}





@layer components {
  .btn {
    @apply  p-3 bg-navy border rounded-full text-white;
    @apply transition-all hover:bg-light-navy cursor-pointer hover:shadow;
  }
}

@layer base {
  p , h1 , h2 , h3 , h4 , h5 , h6, span , button {
     @apply tracking-tight ;
  }

  h1 {
     @apply font-bold;
     font-size : x-large;
  }
}